body {
    margin: 0;
    background-color: var(--background-color);
}

.header {
    height: 130px;
}

.main-container {
    width: 100%;
}

.main-container,
.main-container__content,
.main-container__content--additional-container {
    display: flex;
}

.main-container,
.main-container__content--additional-container,
.main-container__content-heading {
    flex-direction: column;
}

.main-container__hero {
    background: url('images/hero-mobile.jpg') no-repeat;
    width: 100%;
    min-height: 330px;
    background-size: cover;
}

.main-container__content {
    font-family: var(--main-font);
    color: var(--main-text-color);
    padding: 50px 20px; 
}

.main-container__content,
.main-container__content--additional-container {
    justify-content: center;
    align-items: center;
}

.main-container__content--additional-container {
    width: 90%;
}

.main-container__content-heading {
    text-transform: uppercase;
    font-size: min(max(47px, 4vw), 55px);
    margin: 30px 0 20px; 
    letter-spacing: .6rem;
    font-weight: 300;
}

.main-container__content-text {
    font-size: min(max(15px, 4vw), 18px);
    word-spacing: 6px;
    line-height: 130%;
    margin: auto;
}

span {
    color: var(--emphasized-text-color);
    font-weight: 600;
}

.main-container__content-email,
.main-container__content-btn {
    margin: 0;
    border-radius: 25px;
}

.main-container__content-email {
    position: absolute;
    height: 45px;
    width: 300px;
    border: 1px solid var(--main-text-color);
    margin-top: 30px;
}

.main-container__content-btn {
    position: relative;
    top: 29px;
    right: -120px;
    width: 70px; 
    height: 51px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
}
.main-container__content-email::placeholder {
    color: var(--main-text-color);
    font-size: 13px;
    padding-left: 25px; 
}

@media (min-width: 600px) {
    .main-container {
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .main-container__hero {
        background: url('images/hero-desktop.jpg') no-repeat;
        max-width: 45%;
        background-size: 100%;
    }


}